/* App.css */

.App {
  text-align: left;
}

.App-header {
  background-color: #282c34;
  padding: 20px;
  color: white;
  display: flex;
  align-items: center; /* Align items to center vertically */
}

.App-header-text {
  /* Add a new class for the heading text */
  margin-left: 150px; /* Adjust the margin as needed to position the text */
  font-size: 24px; /* Adjust the font size as needed */
}

.App-logo {
  height: 100px;
  margin-right: 90%; /* Adjust the margin as needed */
}

.App-body {
  margin: 20px;
  color: rgb(132, 15, 15); /* Set the text color to white in the body */
}

.App-footer {
  background-color: #282c34;
  padding: 10px;
  color: white;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
}
